.places h1 {
	font-size: 30px;
	margin-left: 15px;
}
    
.placess{
	display: flex;
	justify-content: center;  
	flex-flow: row wrap;  
} 

.placess article{
	width: 388px;  
	margin: 20px;  
	padding: 5px;  
	border: #FF5A5F 1px solid;  
	border-radius: 4px;
	text-align: center;  
}
.placess article h2{ 
	font-size: 30px;
}
